{% load static %}
{% for bolo in object_list %}
    <tr>
        <td>{{ bolo.nome }}</td>
        <td>{{ bolo.descricao }}</td>
        <td>{{ bolo.tamanho }}</td>
        <td>{{ bolo.sabor }}</td>
        <td>{{ bolo.observacao }}</td>
        <td>
            <a href="{% url 'excluir-bolos' bolo.pk%}" class='btn btn-danger btn-sm'>Excluir</a> 
            <a href="#" class='btn btn-warning btn-sm'>Editar</a>
        </td>
    </tr>

{% empty %}
    <tr>
        <td colspan="5">Desculpe! Nenhum bolo foi registrado ainda.</td>
    </tr>
{% endfor %}