{% extends 'index.html' %}
{% load static %}

{% block title %}
    <title>Deletar</title>
{% endblock %}

{% block cabecalho %}
{% endblock %}

{% block corpo %}
    <section class="container-fluid">
        <section class='row'>
            <section class="col-md-12 corpo">
                <h2 class="h2">EXCLUIR REGISTRO</h2>
                <p class="lead">Confirme todos os dados antes de excluí-los definitivamente.</p>
                <hr>

                <form action="#" method="post">
                    {% csrf_token %}
    
                    <p>Deseja excluir este registro: <b>{{ object }}</b> ?</p>
    
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
                
            </section>
        </section>
    </section>




            

            
       
{% endblock %}