@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');



/* #cabecalho, #cabecalhoBolo, #cabecalhoMacarom, #cabecalhoDoce{
    text-align: center;
    /* background-image: url(../img/desserts-1868181_1920.jpg);
    height: 30em;
    background-size: auto;
    background-position-y: 50em;
    background-size: 98em;   */
    /* background-color: rgb(177, 146, 89); */
    /* color: rgb(255, 255, 255); */
/* } */ 


#nav{
    background-color: rgb(201, 196, 134);
    font-family: 'REM';
    box-shadow: 2px ;
}


.navbar-brand{
    font-weight:500;

}

section .corpo{
    padding-top: 1em;
}


img{
    object-fit: cover;
    height: 27em;
    
}

#cabecalhoBolo{
    background-image: url(../img/cake-1227842_1920.jpg);

    /* background-position-y: 45em;
    background-position-x: 1.6em; */
}
#cabecalhoDoce{
    background-image: url(../img/bolos-extravagantes-na-mesa-banquete.jpg);

}
#cabecalhoMacarom{
    background-image: url(../img/macarons-7716584_1920.jpg);
    background-position-y: 43em;
}


#titulo{
    padding-top: 2.5em;
    font-family: 'Borel', cursive;
    font-size: 80px;
}

.h3{
    text-align: center;
}


