{% extends 'index.html' %}
{% load static %}

{% block title %}
    <title>Bolos</title>
{% endblock %}

{% block cabecalho %}
    <section class="row" id="cabecalhoBolo">
        <article class="col-md-12">
            <h1 class="h1" id="titulo">Bolos</h1>
        </article>
    </section>
{% endblock %}
{% block conteudo %}
    <section class="row" id="conteudo">
        <article class="col-md-12">
            <h2 class="h2">CONHEÇA NOSSOS BOLOS:</h2>
            <p class="lead">Adoce sua vida!</p>
        </article>
    </section>
{% endblock %}