{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Belo doce</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <!-- nav -->
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">Doces da Zinha!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'doces' %}">Doces</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'bolos' %}">Bolos</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'macarons' %}">Macarons</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <!-- corpo do sistema -->
    {% block corpo %}
        <div class="container-fluid">
            <!-- divisorias do corpo -->
            {% block cabecalho %}
                <section class="row" id="cabecalho">
                    <article class="col-md-12">
                        <h1 class="h1" id="titulo">Doceria da Zinha!</h1>
                    </article>
                </section>
            {% endblock %}
            <!-- conteudo -->
            {% block conteudo %}
                <section class="row" id="conteudo">
                    <article class="col-md-12">
                        <h2 class="h2">MAIS DOCE QUE BATATA DOCE!</h2>
                        <p class="lead">Conheça nossos doces:</p>
                    </article>
                </section>
            {% endblock %}
        </div>
    {% endblock %}
    
</body>
</html>