{% extends 'index.html' %}
{% load static %}

{% block title %}
    <title>Macarons</title>
{% endblock %}

{% block cabecalho %}
    <section class="row" id="cabecalhoMacarom">
        <article class="col-md-12">
            <h1 class="h1" id="titulo">Macarons</h1>
        </article>
    </section>
{% endblock %}


{% block corpo %}
<section class="container-fluid">
    <section class='row'>
        <section class="col-md-12 corpo">
            <h3 class='h3'>CONHEÇA NOSSOS MACARONS!</h3>
            
        </section>
    </section>
</section>
{% endblock %}